<div>
  <h2>All Restaurants</h1>
  <p><% @restaurants.each do |restaurant| %>
    <p><%= link_to restaurant.name, restaurant_path(restaurant), class: "btn btn-outline-success" %></p>
    <% end %>
  </p>
</div>
